<div class="container">

  <div class="row">
    <div class="col-xs-12 ">
      <%= simple_form_for(@pet) do |f| %>
      <%= f.input_field :animal_type, collection: ["dog", "cat", "mythical", "other"]  %>
      <%= f.input_field :location %>
      <%= f.submit "search pets" %>
      <% end %>
    </div>
  </div>
<div class="row card-container">
    <% @pets.each do |pet| %>
      <%= link_to pet_path(pet.id) do %>
        <div class="col-xs-6 col-md-3">
          <div class="card">
            <div class="card-image" style="height: 200px; width: 200px; border: solid 1px grey; background-image: url('<%= @pet.photo %>')"></div>
            <div class="card-heading">
              <p class="card-heading-item text-md"><%= pet.name %></p> <p class="card-heading-item text-sm"><%= pet.age %></p>
            </div>
            <!-- pet.location to be added instead placeholder! -->
            <p class="text-sm" style="text-align:center"><%= pet.location %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

