  <div class="row">
    <div class="col-xs-12 main-form">

      <%= form_tag pets_path, method: :get do %>
        <%= select_tag(:animal_type, options_for_select(["", "Dog", "Cat", "Other"])) %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a pet"
        %>
        <%= text_field_tag :location,
          params[:location],
          class: "form-control",
          placeholder: "Location"
        %>
        <%= submit_tag("Search")%>

      <% end %>
    </div>
  </div>
  <div class="main-container">
    <div class="row card-container">
      <% @pets.each do |pet| %>
        <%= link_to pet_path(pet.id) do %>
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-image" style="height: 200px; width: 200px; background-image: url(<%= pet.photo %>)"></div>
              <div class="card-heading">
                <p class="card-heading-item text-md"><%= pet.name %></p> <p class="card-heading-item text-sm"><%= pet.age %></p>
              </div>
              <p class="text-sm" style="text-align:center"><%= pet.location %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="map"; data-markers="<%= @markers.to_json %>">

    </div>
  </div>
  </div>


