<h1>Pets#index</h1>
<p>Find me in app/views/pets/index.html.erb</p>

<div class="container">
  <div class="row">
    <div>
      <%= simple_form_for(@pet) do |f| %>
      <%= f.input :animal_type, collection: ["dog", "cat", "mythical", "other"]  %>
      <%= f.input :location %>
      <%= f.submit "search pets" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="card-container">
      <% @pets.each do |pet| %>
        <%= link_to pet_path(pet.id) do %>
          <div class="card">
            <div class="card-image" style="height: 200px; width: 200px; background-image: url('<%= pet.photo %>')"></div>
            <%= "#{pet.name} - #{pet.age}" %>
            <%= pet.location %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
