<div class="container">
  <h1>Your Pal <%= @pet.name %></h1>

  <%= cl_image_tag(@pet.photo) %>

  <h3>Age: <%= @pet.age %></h3>
  <p>Description: <%= @pet.description %></p>
  <% if @pet.breed.nil? %>
    <p> Breed: <%= @pet.animal_type @pet.breed %></p>
  <% else %>
    <p><%= @pet.animal_type %></p>
  <% end %>

  <p><%= @pet.take_away == true ? "You can take this pet home!" : "This pet cannot be taken from its natural habitat"%></p>
 <p><%= @pet.home_stay == true ? "You can come visit this pet at its home!" : "You are not able to come visit this pets home" %></p>

<% if @pet.user == current_user %>
   <%= link_to "Edit Pal", edit_pet_path, class:"btn btn-primary" %>
  <%else%>
    <%=link_to "Book this Pal", new_user_booking_path(pet_id: @pet.id, user_id: current_user), class:"btn btn-primary"%>
  <% end %>
  </p>


<% if @pet.photo.nil?  %>
<%= simple_form_for @pet do |f| %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
<%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
<% end %>



<!-- calendar -->
<!-- map -->
<!-- reviews -->
<!--   # booking button -->

