<div class="show-container">
  <div class ="pet-side" style="background-image: url(<%= @pet.photo %>)">
  </div>

  <div class="row pet-info">
    <div class="stats">
      <h1>Your Pal <%= @pet.name %></h1>
      <div class="top-margin">
        <h3>Pal information</h3>
        <p>Age: <%= @pet.age %></p>
        <p>Description: <%= @pet.description %></p>
        <div>
          <% if @pet.breed.nil? %>
          <p> Animal Type: <%= @pet.animal_type %> : <%= @pet.breed %></p>
          <% else %>
          <p>Animal Type: <%= @pet.animal_type %></p>
          <% end %>
        </div>
      </div>
      <p>Pet address: <%= @pet.location %></p>
      <div class="top-margin">
        <h3>Where can I spend time with my pet pal?</h3>
          <p><%= @pet.take_away == true ? "You can take this pet home!": "This pet cannot be taken from its natural habitat"%></p>
          <p><%= @pet.home_stay == true ? "You can come visit this pet at its home!" : "You are not able to come visit this pets home" %></p>
      </div>
    </div>
    <div class="row links" style="margin-top:50px">
      <div>
        <% if @pet.user == current_user %>
        <%= link_to "Edit Pal", edit_pet_path, class:"btn btn-primary" %>
        <%else%>
        <%=link_to "Book this Pal", new_pet_booking_path(user_id: current_user, pet_id: @pet.id), class:"btn btn-primary"%>
        <% end %>
      </div>
      <div>
        <%= link_to 'Return to Pet Pals', pets_path, class:"btn btn-success" %>
      </div>
    </div>
  </div>
  </div>
</div>
