<div class="booking-status" style="padding-left: 40px">
  <h1>Booking request created</h1>
</div>
<div class ="pet-side1" style="background-image: url(<%= @booking.pet.photo %>)"></div>
  <div class="row pet-info">
    <div class="stats">
<div class="booking-info">
  <div class="info1" style="color:#FF5E3A">
    <h2>You have booked <%= @booking.pet.name %></h2>
  </div>
  <div class="row">
  <div class="info1 col-xs-12">
    <h3>Your requested dates are:</h3>
    <br>
    <h3>Start: <%= @booking.start_date %></h3>
    <br>
    <h3>End: <%= @booking.end_date %>  </h3>
    </div>
  </div>
  <div class="info1" style="color:#FF5E3A">
  <h3> Where can I spend time with my pal?</h3>
  </div>
  <div class="info1">
<% if @booking.pet.home_stay %>
  <p> You can come to this pet pals home and play!</p>
<% end %>
</div>
<div class="info1">
<% if @booking.pet.take_away %>
  <p> You can bring this Pal to your own home if you would like! </p>
<% end %>
</div>
</div>
</div>
<div class="links1" style="text-align:center">
<%= link_to 'Book another pet pal', pets_path, class:"btn btn-success" %>
<%= link_to 'Dashboard', user_path(current_user), class:"btn btn-primary" %>
<%= link_to 'Booking information', user_booking_path(pet_id: @booking.pet_id, user_id: @booking.user_id), class:"btn btn-warning" %>
</div>
<br>
