<h2>Booking Info</h2>
<p><%= @booking.pet.name %> - <%= @booking.user.email %></p>
<p><%= @booking.start_date %> to <%= @booking.end_date %></p>
<h3><%= @booking.status %></h3>

<!-- map to come  -->
