<div class="container">
<h2>Booking Info</h2>
<div class="picture">
<!-- user info to come  -->
  <%= cl_image_tag(@booking.pet.photo, width: 300, height:300, crop: :fill)   %>
</div>
<div>
  <%= @booking.user.name%> has booked <%= @booking.pet.name%> for the dates:
  <p><%= @booking.start_date %></p>
   to
   <%= @booking.end_date %>


</div>

  <h3 style="color:#FF5E3A">This booking is currently: <%= @booking.status %></h3>
  </div>
  <% if @booking.user != current_user %>
  <div> <h3>You can contact this Pet Pal's owner on: <%= @booking.pet.user.email %></h3>
    <% end %>
<!-- map to come  -->

<div class="links" style="text-align:center">
  <div class="link" style="text-align:center">
    <% if @booking.pet.user == current_user && @booking.status == "pending" %>

    <%= link_to 'Accept Booking', accept_booking_path(user_id: @booking.user_id, pet_id: @booking.pet_id), class:"btn btn-success" %>

    <%= link_to 'Decline Booking', user_booking_path(user_id: @booking.user_id, pet_id: @booking.pet_id), method: :delete, class:"btn btn-danger" %>

    <% else%>


    <%= link_to 'Edit Booking', edit_user_booking_path(user_id: current_user, pet_id: @booking.pet_id), class:"btn btn-warning" %>


    <%= link_to 'Cancel Booking', user_booking_path(user_id: @booking.user_id, pet_id: @booking.pet_id), method: :delete, class:"btn btn-danger" %>

  <%end%>
  <div class="link">
    <%= link_to 'Back to your dashboard', user_path(current_user), class:"btn btn-primary" %>
  </div>
</div>
