

<div class="featured-container">
  <div class="container">
    <h1 class="user-dash-title">Pet Pal Management</h1>

    <h2 class="user-dash-subtitle">Your Pet Pals Bookings</h2>
<div class="row card-container">
  <% @pets.each do |pet| %>
    <% pet.bookings.each do |booking| %>
      <div class="col-xs-6 col-md-3">
        <%= link_to user_booking_path(user_id: booking.user_id, id: booking.pet_id) do %>
          <div class="card">
                 <div class="card-image" style="background-image: url(<%= booking.pet.photo %>)"></div>
            <div class="card-heading">
              <p class="card-heading-item text-md"><%= booking.pet.name %></p>
            </div>
            <p class="card-subheading text-sm">
            Booker: <%= booking.user.name %></p>
            <% if booking.status == "pending" %>
             <p style="color:orange"><%= booking.status %></p>
            <% elsif booking.status == "Accepted" %>
             <p style="color:green"><%= booking.status %>
            <% else %>
              <p style="color:red"><%= booking.status %>
            <%end%>
          </div>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>

  <h2 style="margin-top: 40px !important;" class="user-dash-subtitle">Your Pals</h2>

  <div class="row card-container">
    <% @pets.each do |pet| %>
      <div class="col-xs-6 col-md-3">
        <%= link_to pet_path(pet) do %>
          <div class="card">
            <div class="card-image" style="background-image: url(<%= pet.photo %>)"></div>
            <div class="card-heading">
                <p class="card-heading-item text-md"><%= pet.name %></p>
              </div>
              <p class="text-sm">
              Booker: <%= booking.user.name %></p>
              <% if booking.status == "pending" %>
               <p style="color:orange"><%= booking.status %></p>
              <% elsif booking.status == "Accepted" %>
               <p style="color:green"><%= booking.status %>
              <% else %>
                <p style="color:red"><%= booking.status %>
              <%end%>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>

    <%= link_to 'Add a new Pet Pal!', new_pet_path,
    style:"color: orange; background-color: orange;
    border: 1px solid rgba(0,0,0,0.1) !important;
    padding: 8px 14px;
    border-radius: 4px !important;
    color: white; margin-top: 20px;" %>

  </div>
</div>
