<h2>User dashboard - <%= @user.name %></h2>

<h3>User Bookings</h3>
<ul>
<% @user.bookings.each do |booking| %>
  <li><%=  link_to booking.pet.name, pet_booking_path(booking.pet_id, booking.user_id) %> - Start Date: <%= booking.start_date %> - End Date: <%= booking.end_date %></li>
<% end %>
</ul>
  <h3>Pet Bookings</h3>
<ul>
  <% @user.pets.each do |pet| %>

    <% pet.bookings.each do |booking| %>
     <li> <%= link_to booking.pet.name, user_booking_path(booking.user_id, booking.pet_id ) %> - Start Date: <%= booking.start_date %> - End Date: <%= booking.end_date %>
      </li>
    <% end %>
  <% end %>
</ul>
