  <h2>User dashboard - <%= @user.name %></h2>

  <h3>User Bookings</h3>
  <div class="row card-container">
   <% @user.bookings.each do |booking| %>
   <div class="col-xs-6 col-md-3">
    <div class="card">
      <div class="card-image" style="height: 200px; width: 200px; border: solid 1px grey; background-image: url('<%= booking.pet.photo %>')"></div>
      <div class="card-heading">
        <p class="card-heading-item text-md"><%= link_to booking.pet.name %></p>
      </div>
      <p class="text-sm">
       Owner: <%= booking.pet.user.name %></p>
       <p>Start: <%= booking.start_date %></p>
       <p>End: <%= booking.end_date %></p>
     </div>
   </div>
   <% end %>
 </div>

 <h3>Pet Bookings</h3>
 <div class="row card-container">
  <% @user.pets.each do |pet| %>
  <% pet.bookings.each do |booking| %>
  <div class="col-xs-6 col-md-3">
    <div class="card">
      <div class="card-image" style="height: 200px; width: 200px; border: solid 1px grey; background-image: url('<%= booking.pet.photo %>')"></div>
      <div class="card-heading">
        <p class="card-heading-item text-md"><%= link_to booking.pet.name %></p>
      </div>
      <p class="text-sm">
        Booker: <%= booking.user.name %></p>
        <p>Start: <%= booking.start_date %></p>
        <p>End Date: <%= booking.end_date %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <h3>Your Pals</h3>
  <div class="row card-container">
    <% @user.pets.each do |pet| %>
    <div class="col-xs-6 col-md-3">
      <div class="card">
        <div class="card-image"style="height: 200px; width: 200px; border: solid 1px grey; background-image: url('<%= pet.photo %>')" ></div>
        <div class="card-heading">
          <p class="card-heading-item text-md"><%= link_to pet.name %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
    <%= link_to 'Add a new Pet Pal!', new_pet_path, class:"btn btn-primary" %>
