
<div class="banner" style="background-image: url(<%= image_path('banner_homepage.jpg') %>);">
  <div class="banner-content container">
    <h1 class="banner-heading">Book a Pal</h1>
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 banner-form main-form">
        <%= form_tag pets_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control"%>
        <%= submit_tag("Find your Pal")%>
          <% end %>
        </div>
      </div>
  </div>
</div>


<div class="featured-container">
  <div class="container">
    <div class="row">
      <h2 class="featured-heading">Featured Pals</h2>
        <% @pets.each do |pet| %>
          <%= link_to pet_path(pet.id) do %>
          <div class="col-xs-6 col-md-3">
            <div class="card">
              <div class="card-image" style="background-image: url(<%= pet.photo %>)"></div>
              <div class="card-heading">
                <p class="card-heading-item text-md"><%= pet.name %></p>
              </div>
              <!-- pet.location to be added instead placeholder! -->
              <p class="card-subheading text-xs"><%= pet.location %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
